flows (1).json
[{"id":"b4a28b90.d73c98","type":"function","z":"494d3492.a461dc","name":"Input Parameters","func":"var token=msg.payload.token;\nvar partner=global.get('partner');\nvar dependents=global.get('dependents');\nvar tenure=global.get('tenure');\nvar phoneservice=global.get('phoneservice');\nvar multiplelines=global.get('multiplelines');\nvar onlinesecurity=global.get('onlinesecurity');\nvar onlinebackup=global.get('onlinebackup');\nvar deviceprotection=global.get('deviceprotection');\nvar techsupport=global.get('techsupport');\nvar monthlycharges=global.get('monthlycharges');\nmsg.payload={\"fields\":[\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"MonthlyCharges\"],\"values\":[[partner,dependents,tenure,phoneservice,multiplelines,onlinesecurity,onlinebackup,deviceprotection,techsupport,monthlycharges]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":151,"wires":[["5ca295fa.b2b4ec"]]},{"id":"5ca295fa.b2b4ec","type":"http request","z":"494d3492.a461dc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/0d417542-4d42-4f13-8757-2645fda306fd/deployments/53dbbac6-c24d-4920-bcb0-d3a8d6436ee3/online","tls":"","proxy":"","authType":"basic","x":395,"y":87,"wires":[["3610610a.74e1ce","a9826e83.5a871"]]},{"id":"a9826e83.5a871","type":"debug","z":"494d3492.a461dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":795,"y":87,"wires":[]},{"id":"bab9e74f.775fd8","type":"http request","z":"494d3492.a461dc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":435,"y":347,"wires":[["2047960e.abd4fa","b4a28b90.d73c98"]]},{"id":"a274ab62.fbe188","type":"inject","z":"494d3492.a461dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":207,"wires":[["10b1ea11.e8a2f6"]]},{"id":"10b1ea11.e8a2f6","type":"function","z":"494d3492.a461dc","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"43c6f593-18ef-492e-993c-528c21f3cb22\"\nvar password=\"fe180995-a4cc-4735-a133-6ce75989230a\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"partner\",msg.payload.partner)\nglobal.set(\"dependents\",msg.payload.dependents)\nglobal.set(\"tenure\",msg.payload.tenure)\nglobal.set(\"phoneservice\",msg.payload.phoneservice)\nglobal.set(\"multiplelines\",msg.payload.multiplelines)\nglobal.set(\"onlinesecurity\",msg.payload.onlinesecurity)\nglobal.set(\"onlinebackup\",msg.payload.onlinebackup)\nglobal.set(\"deviceprotection\",msg.payload.deviceprotection)\nglobal.set(\"techsupport\",msg.payload.techsupport)\nglobal.set(\"monthlycharges\",msg.payload.monthlycharges)\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":307,"wires":[["bab9e74f.775fd8"]]},{"id":"3610610a.74e1ce","type":"function","z":"494d3492.a461dc","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nif(msg.payload == 0)\n{\n    msg.payload=\"No\"\n    return msg;\n}\nelse\n{\n    msg.payload=\"Yes\"\n    return msg;\n}","outputs":1,"noerr":0,"x":485,"y":167,"wires":[["a9826e83.5a871","3459a914.03a7c6"]]},{"id":"2047960e.abd4fa","type":"debug","z":"494d3492.a461dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695,"y":367,"wires":[]},{"id":"3e31b051.8e673","type":"ui_form","z":"494d3492.a461dc","name":"","label":"","group":"81e0a17e.cf33f","order":2,"width":0,"height":0,"options":[{"label":"Partner","value":"partner","type":"number","required":true},{"label":"Dependents","value":"dependents","type":"number","required":true},{"label":"tenure","value":"tenure","type":"number","required":true},{"label":"PhoneService","value":"phoneservice","type":"number","required":true},{"label":"MultipleLines","value":"multiplelines","type":"number","required":true},{"label":"OnlineSecurity","value":"onlinesecurity","type":"number","required":true},{"label":"OnlineBackup","value":"onlinebackup","type":"number","required":true},{"label":"DeviceProtection","value":"deviceprotection","type":"number","required":true},{"label":"TechSupport","value":"techsupport","type":"number","required":true},{"label":"MonthlyCharges","value":"monthlycharges","type":"number","required":true}],"formValue":{"partner":"","dependents":"","tenure":"","phoneservice":"","multiplelines":"","onlinesecurity":"","onlinebackup":"","deviceprotection":"","techsupport":"","monthlycharges":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":115,"y":407,"wires":[["10b1ea11.e8a2f6"]]},{"id":"3459a914.03a7c6","type":"ui_text","z":"494d3492.a461dc","group":"81e0a17e.cf33f","order":1,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":715,"y":207,"wires":[]},{"id":"81e0a17e.cf33f","type":"ui_group","z":"","name":"Prediction","tab":"2045cf9b.ccea1","disp":true,"width":"6","collapse":false},{"id":"2045cf9b.ccea1","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]